* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchShow {
  font-weight: 400;
  border: solid #5cb85c 1px;
  width: 50%;
  padding: 20px;
  border-radius: 0;
  box-shadow: none;
  margin: 8px;
  border-radius: 8px;
}
::placeholder {
  color: #5cb85c;
}
#searchShow:focus-visible,
#searchShow:active {
  outline: none;
  border: 1px solid #5cb85c;
}

#resultsList {
  list-style-type: none;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 8px;
}
a {
  text-decoration: none;
  color: black;
  margin-left: 4px;
}
a:hover {
  color: #5cb85c;
}

@media only screen and (min-width: 687px) {
  #resultsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .list {
    max-width: 25%;
    padding: 16px;
  }
}
